*{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #e3e6e6; */
}



.main_navbar{
    background-color: #0F1111;
    height: 60px;;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav_logo{
    padding:1px 8px 0px 6px;
    height:auto;
    width:auto;
    display: inline-block;
    margin-left:7px;
}

.border{
    border:1px solid transparent;
    display: inline-block;
}

.border:hover{
    border:1px solid white;
}



.address{
    color:white;
    align-items: center;
}

.location-icon{
    display: flex;
    align-items: center;
}
.add-first{
    color:#FFFFFF;
    font-size: 12px;
    margin-left: 15px;
    align-items: center;
}

.add-second{
    color:#FFFFFF;
    font-size: 14px;
    margin-left:3px;
    font-weight: bold;
}

/* Search-bar*/
.search-bar{
    width: 1230px;
    height:40px;
    display:flex;
    justify-content: space-evenly;
    border-radius:4px;
    justify-content: center;
}

.all_button{
    width:52px;
    height:43px; 
    padding-left: 5px;
    border-top:1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #e6e6e6;
    border:none;
}

.placeholder{
    width:1134px;
    height:43px;
    border:none;
    font-size:1rem;

}

.Search-icon{
    width:45px;
    height:43px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color:#ffbe69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.welcome{
    color:white;
}
.welcome-message{
    font-size: 12px;
}
.Account{
    font-size:14px;
    font-weight: bold;
}
.Return{
    color:white;
}
.Returns{
    font-size:12px;
}
.order{
    font-size:14px;
    font-weight: bold;
}

.Add_to_cart{
    color:white;
    display:flex;
}
.cart_img{
    font-size:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart{
    font-weight: bold;
    font-size: 15px;
    display: flex;
}
.sub-navbar{
    background-color:#222e3d;
    width:100%;
    height:39px;
    color:white;
    align-items: center;
    display: flex;
}
.bars{
    font-size:22px;
    margin-left:15px;
}
.Deals a{
    color:white;
    text-decoration: none;
    margin-left: 16px
}
.main_body{
    background-color: red;
    background-image: url(All_photos/pic_2.jpg);
    background-size: cover;
    width: 1540px;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.text {
    background-color: #f5f6f6;
    width:1460px;
    height:40px;
    display: flex;
    margin-top:300px;
    
}
.text_value{
    display: flex;
    align-items: center;
    margin-left: 250px;
}
.link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.card_1{
    display: flex;
    justify-content: space-evenly;
    margin-left: 170px;
    margin-right: 157px;
}
.card_2{
    display: flex;
    justify-content: space-evenly;
    margin-left: 170px;
    margin-right: 157px;
    margin-top: 20px;
}
.card_a{
    color:#0f1111;
    font-size: 21x;
    background-color: #FFFFFF;
    width:350px;
    height:385px;
    padding-left:20px;
    padding-top:20px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.link_1 a{
    text-decoration: none;
    font-color:#2162A1;
    font-size: 13px;
}
.img_1{
    margin-left: 15px;
}

.card_b{
    color:#0f1111;
    font-size: 21x;
    background-color: #FFFFFF;
    width:350px;
    height:385px;
    padding-left:20px;
    padding-top:20px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.link_2 a{
    text-decoration: none;
    font-color:#2162A1;
    font-size: 13px;
}
.img_2{
    margin-left: 15px;
}


.card_c{
    color:#0f1111;
    font-size: 21x;
    background-color: #FFFFFF;
    width:350px;
    height:385px;
    padding-left:20px;
    padding-top:20px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.link_3 a{
    text-decoration: none;
    font-color:#2162A1;
    font-size: 13px;
}
.img_3{
    margin-left: 15px;
}

.card_d{
    color:#0f1111;
    font-size: 21x;
    background-color: #FFFFFF;
    width:350px;
    height:385px;
    padding-left:20px;
    padding-top:20px;
    padding-bottom: 15px;
    margin-left: 10px;
}
.link_4 a{
    text-decoration: none;
    font-color:#2162A1;
    font-size: 13px;
}
.img_4{
    margin-left: 15px;
}


.main_container{
    background-color: #e3e6e6;
}






/* -------------------------Footer---------------------- */
.details{
    width:1897px;
    height:1000px;
}
.column_1{
    background-color: #364659;
    width:100%;
    height:19px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 50px;;
}

.nav-link_1{
    color:white;
    text-decoration: none;
}
.middle-footer{
    display:flex;
    background-color: #232F3E;
    width:100%;
    /* height:970.375px; */
    height:500px;
    justify-content: space-evenly;
}
.column_2{
    margin-top: 50px;
}
.column_2 a{
    margin-top: 5px;
    flex-direction: column;
    display: flex;
    text-decoration: none;
    color:#DDDDDD;
    
}
 
.nav-link-master {
    text-decoration: none;
    font-weight: bold;
    color:#FFFFFF;
    size:16px;
}

.nav-link{
    text-decoration: none;
    display:flex;
    display:inline-block;
}

.column_3{
    margin-top: 50px;
}
.column_3 a {
    margin-top: 5px;
    margin-left: 40px;
    flex-direction:column;
    display:flex;
    text-decoration: none;
    color:#DDDDDD;

    
}
.column_4{
    margin-top: 50px;
}
.column_4 a{
    margin-top: 5px;
    color:#DDDDDD;
    size:14px;
    display:flex;
    flex-direction: column;
}
.column_5{
    margin-top: 50px;
}
.column_5 a{
    margin-top: 5px;
    color:#DDDDDD;
    size:14px;
    display: flex;
    flex-direction: column;

}

.nav-link:hover{
    text-decoration: underline;
    color:#FFFFFF
}

.butt_footer{
    background-color: #131A22;
    display: flex;
    width:100%;
    height:303px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: space-evenly;
} 

.bottom_footer_1{
    display:flex;
    flex-direction: column;
}

.other_info_1{
    display:flex;
    flex-direction: column;
    word-wrap: break-word;
    width:200px;
    height:50px;
    font-size:12px;
}
.other_info_2{
    display:flex;
    flex-direction: column;
    word-wrap: break-word;
    width:200px;
    height:50px;
    font-size:12px;
}
.other_info_3{
    display:flex;
    flex-direction: column;
    word-wrap: break-word;
    width:200px;
    height:50px;
}
.bottom_footer_2{
    display:flex;
    flex-direction: column;
    margin-top:20px;
}
.other_info_4{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    width:200px;
    height:200px;
    
}
.other_info_4 a {
    color: #999999;
    font-size: 12px;
}

.other_info_5{
    margin-top: 20px;
}

.other_info_6{
    margin-top: 20px;
}

.other_info_7{
    margin-top: 20px;
}

.bottom_footer_1 a{
    color:#999999;
    font-size: 12px;
    padding-top:20px;

}
.bottom_footer_3{
    font-size: 12px;
}

.bottom_footer_3 a{
    color:#999999;
}

.other_info_8{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    
}
.other_info_9{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.other_info_10{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.other_info_11{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}

.bottom_footer_4 a{
    font-size: 12px;
    color:#999999;
}

.bottom_footer_4{
    margin-top: 20px;
}
.other_info_12{
    display:flex;
    flex-direction: column;
}
.other_info_13{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.other_info_14{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.other_info_15{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}


.bottom_footer_5 a{
    font-size: 12px;
    color:#999999;
}

.bottom_footer_5{
    margin-top: 20px;
}
.other_info_17{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.other_info_18{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.other_info_19{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}


.bottom_footer_6 a{
    font-size: 12px;
    color:#999999;
}

.bottom_footer_6{
    margin-top: 20px;
}
.other_info_20{
    display:flex;
    flex-direction: column;
}
.other_info_21{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.other_info_22{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.other_info_23{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}


.bottom_footer_7 a{
    font-size: 12px;
    color:#999999;
}

.bottom_footer_7{
    margin-top: 20px;
}
.other_info_24{
    display:flex;
    flex-direction: column;
}
.other_info_25{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}
.other_info_26{
    display:flex;
    flex-direction: column;
    margin-top: 20px;
}

